//- .btn-group(data-toggle='buttons')
//- 	label.btn.btn-primary
//- 		input#option1(name='options', type='radio')
//- 		|  Option 1
//- 	label.btn.btn-primary.active
//- 		input#option2(name='options', type='radio')
//- 		|  Option 2
//- 	label.btn.btn-primary
//- 		input#option3(name='options', type='radio')
//- 		|  Option 3
div(id="{$_name}" class=" {$class}")
	.xepan-radio-btn-form-field-clear
		h3
			span {action}{/}
		.xepan-custom-radio-btn-main| {$Content} 
