#accordion2.panel-group.accordion
  .panel.panel-default
    .panel-heading
      h4.panel-title
        a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion2', href="# {$_name}")
          | {action}{/}
    .panel-collapse.collapse(style='height: 2px;' id="{$_name}")
      .panel-body
        |  {$Content}