.btn-group.xepan-document-actions(class="btn-group-{$action_btn_group} {$class}" style="{$style}" )
	.btn(class="btn-{status_label}primary{/} col-sm-{col_span}9{/} col-xs-{col_span}9{/}"){status}Current Status{/}
	{dropdown}
	button.btn.btn-primary.dropdown-toggle.col-sm-3.col-xs-3(type="button" data-toggle="dropdown")
		span.caret
	ul.dropdown-menu.pull-right(role="menu")
		{rows}{row}
		li
			a.acl-action(href="#" class="acl-action {$class}" data-action="{$action}" data-id="{$row_id}") {$action_title}
		{/}{/}
	{/dropdown}
