
<div style="{$style}" class="btn-group xepan-document-actions btn-group-{$action_btn_group} {$class}">
  <div class="btn btn-{status_label}primary{/} col-sm-{col_span}9{/} col-xs-{col_span}9{/}">{status}Current Status{/}</div>{dropdown}
  <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle col-sm-3 col-xs-3"><span class="caret"></span></button>
  <ul role="menu" class="dropdown-menu pull-right">{rows}{row}
    <li><a href="#" data-action="{$action}" data-id="{$row_id}" class="acl-action acl-action {$class}">{$action_title}</a></li>{/}{/}
  </ul>{/dropdown}
</div>