.ui.buttons(class="{$status_label} {$class}" style="{$style}")
	.ui.button {$status}
	.ui.floating.dropdown.icon.button.xepan-document-actions
		i.dropdown.icon
		{dropdown}
		.menu
			{rows}{row}
			.item
				a.acl-action(href="#" data-action="{$action}" data-id="{$row_id}") {$action_title}
			{/}{/}
		{/dropdown}