.btn-group
	.btn.col-sm-9(class="btn-{status_label}primary{/}"){status}Current Status{/}
	{dropdown}
	button.btn.btn-primary.dropdown-toggle.col-sm-3(type="button" data-toggle="dropdown")
		span.caret
	ul.dropdown-menu(role="menu")
		{rows}{row}
		li
			a.acl-action(href="#" data-action="{$action}" data-id="{$id}") {$action}
		{/}{/}
	{/dropdown}
