.row.panel.panel-default.box-promptness(style= "cursor:pointer; cursor: hand; max-width:600px;")
  .panel-heading
    span Average late :: Average Extra Work [Excluding leaves by employee]
  .panel-body
    span {$value1} Hr ::  {$value2} Hr