.ui.dropdown.item.icon
  i.icon.bell
  i.dropdown.icon
  .label {notification_count}8{/} {$unread_notification}
  .menu
    {rows}{row}
    .item
      a(href='#')
        i(class="fa fa-{icon}comment{/}")
        span.content {notification}New comment on ‘Awesome P...{/}
        span.time.xepan-padding-horizontal-xsmall
          i.fa.fa-clock-o
          | {callback_date}13 min.{/}
    {/}{/}              
    .item
      a(href='?page=xepan_hr_notification')
        | View all notifications