a.btn.dropdown-toggle(data-toggle='dropdown')
    i.fa.fa-bell
    span.count {notification_count}8{/}
  ul.dropdown-menu.dropdown-menu-right.notifications-list
    li.pointer
      .pointer-inner
        .arrow
    li.item-header.xepan-notification-view You have {unread_notification}6{/} new notifications
    {rows}{row}
    li.item
        a(href='#')
          i(class="fa fa-{icon}comment{/}")
          span.content &nbsp;{$activity}
          span.time.xepan-padding-horizontal-xsmall
            i.fa.fa-clock-o
            | {$callback_date}
    {/}{/}              
    li.item-footer
          a(href='?page=xepan_hr_notification')
                | View all notifications
          a(href='#')
            span.play-pause-notifications(class = "{notif-class}fa fa-pause{/}" style = "cursor:pointer; cursor: hand; max-width:600px;") &nbsp;&nbsp; {notif-text}Pause Notifications{/}
style.
  .notifications-list .item a .time{
    background:white none repeat scroll 0 0;
  }