
<div class="ui dropdown item icon"><i class="icon bell"></i><i class="dropdown icon"></i>
  <div class="label">{notification_count}8{/} {$unread_notification}</div>
  <div class="menu">{rows}{row}
    <div class="item"><a href="#"><i class="fa fa-{icon}comment{/}"></i><span class="content">{notification}New comment on ‘Awesome P...{/}</span><span class="time xepan-padding-horizontal-xsmall"><i class="fa fa-clock-o"></i>{callback_date}13 min.{/}</span></a></div>{/}{/}              
    <div class="item"><a href="?page=xepan_hr_notification">View all notifications</a></div>
  </div>
</div>