.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.striped.table
        {header}
        thead
            {cols}{col}
            th
                span Employee
            th
                span Created At
            th
                span Amount
            th
                span Detail
            th
            th
            {/}{/}
        {/}
        {$subheader}
        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td
                    a.do-view-employee(href='#',data-id="{$employee_id}") {$employee}
                td
                    {$created_at}
                td
                    {$amount}
                td
                    {$ex_detail}
                td
                    {$action}
                td
                    {$edit}
                    {$delete}
                
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}