
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui stackable equal width grid  {$class} ">
    <div class="column">{$grid_buttons}</div>
    <div class="right aligned column">{$quick_search}<i class="search icon"></i></div>
  </div>{/Pannel}
  <table class="ui striped table">{header}
    <thead>{cols}{col}
      <th><span>Employee</span></th>
      <th><span>Created At</span></th>
      <th><span>Amount</span></th>
      <th><span>Detail</span></th>
      <th></th>
      <th></th>{/}{/}
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td><a href="#" data-id="{$employee_id}" class="do-view-employee">{$employee}</a></td>
        <td>{$created_at}</td>
        <td>{$amount}</td>
        <td>{$ex_detail}</td>
        <td>{$action}</td>
        <td>
          {$edit}
          {$delete}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </tbody>{$Paginator}
  </table>
</div>