.row
	.panel.panel-default
		.panel-body
			{$filter_form}
.row
	.panel.panel-default
		.panel-body
			.col-md-3
				span 
					b Employee
			.col-md-2
				span 
					b From Date
			.col-md-2
				span 
					b To Date
			.col-md-2
				span
					b Type
			.col-md-3
				span
				b Count
			hr
			{$report_view}			
