
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">{$filter_form}</div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-3"><span> <b>Employee</b></span></div>
      <div class="col-md-2"><span> <b>From Date</b></span></div>
      <div class="col-md-2"><span> <b>To Date</b></span></div>
      <div class="col-md-2"><span><b>Type</b></span></div>
      <div class="col-md-3"><span></span><b>Count</b></div>
      <hr/>{$report_view}			
    </div>
  </div>
</div>