.ui.container.raised.segment.main-box
  .ui.two.column.grid
    .ten.wide.column
      h4.ui.dividing.header General Information
      .field
        label Name
        .two.fields
          .field {$first_name}
          .field {$last_name}
      .field
        .two.fields
          .field {$organization}
          .field {$post}
      .field
        .field {$website}
      .field
        label Address
        {$address}  
      .two.fields
        .field
          label City
          {$city}
        .field
          label Pin code
          {$pin_code}
      .two.fields
        .field
          label Country
          {$country_id}
        .field
          label State
          {$state_id}
      .field
        label Narration
        {$narration}
      .inline.field
        {$want_to_add_next_affiliate}
    .ui.vertical.divider
    .five.wide.column
      h4.ui.dividing.header Official Emails
      .field
        {$email_1}
      .field
        {$email_2}
      h4.ui.dividing.header Personal Emails
      .field
        {$email_3}
      .field
        {$email_4}
      h4.ui.dividing.header Official Contact
      .field
        {$contact_no_1}
      .field
        {$contact_no_2}
      h4.ui.dividing.header Personal Contact
      .field
        {$contact_no_3}
      .field
        {$contact_no_4}
  | {$FormButtons}