
<div id="user-profile">{$Content}
  <div class="row">
    <div class="ui one column grid">{$contact_view_full_width}</div>
    <div class="ui two column grid">
      <div class="five wide column">{$contact_view}</div>{other_details}
      <div class="eleven wide column">
        <div class="ui container raised segment main box">
          <div class="ui pointing secondary menu"><a data-tab="first" class="active item">Narration</a></div>
          <div data-tab="first" class="ui bottom attached active tab segment">{details}
            <div class="ui info message">
              <div class="header">
                <label>Please fill the basic information first</label>
              </div>
            </div>{/details}               
          </div>
        </div>
      </div>{/}        
    </div>
  </div>
</div>