#user-profile
  | {$Content}
  .row
    .ui.one.column.grid
      {$contact_view_full_width}
    .ui.two.column.grid
      .five.wide.column
        {$contact_view}
      {other_details}
      .eleven.wide.column
        .ui.container.raised.segment.main.box
          .ui.pointing.secondary.menu
            a.active.item(data-tab='first') Narration

          .ui.bottom.attached.active.tab.segment(data-tab="first")
            {details}
            .ui.info.message
              .header
                label Please fill the basic information first
            {/details}               
      {/}        