#user-profile
  .ui.one.column.grid
      {$contact_view_full_width}
  .ui.two.column.grid
    .four.wide.column
      {$contact_view}
    
    {details}  
    .eleven.wide.column
      .ui.container.raised.segment.main.box
        .ui.pointing.secondary.menu
            a.active.item(data-tab='first') Portfolio
            a.item(data-tab='second') Official
            a.item(data-tab='third') Activity
            a.item(data-tab='fourth') Documents
          
        .ui.bottom.attached.active.tab.segment(data-tab="first")
            {portfolio_view}Please Save Basic Information First{/}
        .ui.bottom.attached.tab.segment(data-tab="second")
            {$official_info}
        .ui.bottom.attached.tab.segment(data-tab="third")
            {$activity_view}
        .ui.bottom.attached.tab.segment(data-tab="fourth")
            {$document_view}
    {/}                       