
<div class="main-box">
  <header class="main-box-header clearfix text-center">
    <h1>Add New Employee</h1>
  </header>
  <div class="main-box-body clearfix">
    <div class="row">
      <div class="form-group col-xs-8">
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">General Information</div>
          <div class="panel-body"></div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group atk-form-row atk-form-field">
                <div><span class="text-muted">First Name</span>
                  {$first_name}
                </div>
              </div>
              <!-- <div class="form-group atk-form-row atk-form-field">{$website}</div> -->
            </div>
            <div class="col-xs-6">
              <div class="form-group atk-form-row atk-form-field">
                <div><span class="text-muted">Last Name</span>
                  {$last_name}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group atk-form-row atk-form-field">
                <div><span class="text-muted">Branch</span>
                  {$branch_id}
                </div>
              </div>
            </div>

            <div class="col-xs-4">
              <!-- <div class="form-group atk-form-row atk-form-field">{$organization}</div> -->
              <div class="form-group atk-form-row atk-form-field">
                <div><span class="text-muted">Department</span>{$department_id}</div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group atk-form-row atk-form-field">
                <div><span class="text-muted">Post</span>
                  {$post_id}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Address</div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-xs-6 atk-form-row atk-form-field"><div><span class="text-muted">Address</span>{$address}</div></div>
              <div class="col-xs-6">
                <div class="form-group atk-form-row atk-form-field">
                  Country
                  {$country_id}
                </div>
                <div class="form-group atk-form-row atk-form-field">
                  State
                  {$state_id}
                </div>
                <div class="form-group atk-form-row atk-form-field">
                  <div><span class="text-muted">City</span>
                    {$city}
                  </div>
                </div>
                <div class="form-group atk-form-row atk-form-field">
                  <div><span class="text-muted">Pin Code</span>{$pin_code}</div></div>
              </div>
            </div>
          </div>
          <div style="margin-bottom:0px;" class="panel panel-default">
            <div class="panel panel-heading panle-primary">Remark</div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group col-xs-12 atk-form-row atk-form-field">{$remark}</div>
              </div>
            </div>
          </div>
          <div style="margin-bottom:0px;" class="panel panel-default">
            <div class="panel panel-heading panle-primary">Permitted Dashboard</div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group col-xs-12 atk-form-row atk-form-field">{$graphical_report_id}</div>
              </div>
            </div>
          </div>
          <div style="margin-bottom:0px;" class="panel panel-default">
            <div class="panel panel-heading panle-primary">Permitted Emails</div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group col-xs-12 atk-form-row atk-form-field">{$permitted_emails}</div>
              </div>
            </div>
          </div>
          <div style="margin-bottom:0px;" class="panel panel-default">
            <div class="panel panel-heading panle-primary">Allow Login from any IP</div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group col-xs-12 atk-form-row atk-form-field">{$allow_login_from_anywhere}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-xs-4">
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">User Panel</div>
          <div class="panel-body">
            <div class="form-group atk-form-row atk-form-field">
              <div><span class="text-muted">User ID</span>{$user_id}</div>
              <div class="small text-muted">Hint : User id must be a email address</div>
            </div>
            <div class="form-group atk-form-row atk-form-field">
              <div><span class="text-muted">Password</span>{$password}</div>
            </div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Official Email</div>
          <div class="panel-body">
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_1}</div>
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_2}</div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Personal Email</div>
          <div class="panel-body">
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_3}</div>
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$email_4}</div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Official Contact</div>
          <div class="panel-body">
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_1}</div>
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_2}</div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Personal Contact</div>
          <div class="panel-body">
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_3}</div>
            <div class="form-group col-xs-12 atk-form-row atk-form-field">{$contact_no_4}</div>
          </div>
        </div>
        <div style="margin-bottom:0px;" class="panel panel-default">
          <div class="panel panel-heading panle-primary">Employee Other Info</div>
          <div class="panel-body">
            {$Content}
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 atk-form-row atk-form-field">{$want_to_add_next_employee}</div>
    </div>
  </div>{$FormButtons}
</div>