
<div class="ui container raised segment main-box">
  <div class="ui two column grid">
    <div class="ten wide column">
      <h4 class="ui dividing header">General Information</h4>
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <div class="field">{$first_name}</div>
          <div class="field">{$last_name}</div>
        </div>
      </div>
      <div class="field">
        <lable>Address</lable>{$address}  
      </div>
      <div class="two fields">
        <div class="field">
          <label>City</label>{$city}
        </div>
        <div class="field">
          <label>Pin code</label>{$pin_code}
        </div>
      </div>
      <div class="two fields">
        <div class="field atk-form-field">
          <label>Country</label>{$country_id}
        </div>
        <div class="field atk-form-field">
          <lable>State</lable>{$state_id}
        </div>
      </div>
      <h4 class="ui dividing header">Official Information</h4>
      <div class="two fields">
        <div class="ui field">
          <label>Department</label>{$department_id}
        </div>
        <div class="ui field">
          <label>Post</label>{$post_id}
        </div>
      </div>
      <div class="field">
        <label>Permitted Dashboard</label>{$graphical_report_id}
      </div>
      <div class="field">
        <lable>Remark</lable>{$remark}
      </div>
      <div class="inline field">{$want_to_add_next_employee}</div>
    </div>
    <div class="ui vertical divider"></div>
    <div class="five wide column">
      <h4 class="ui dividing header">User Information</h4>
      <div class="field">
        <lable>User</lable>{$user_id}
      </div>
      <div class="field">
        <lable>Password</lable>{$password}
      </div>
      <h4 class="ui dividing header">Official Emails</h4>
      <div class="field">{$email_1}</div>
      <div class="field">{$email_2}</div>
      <h4 class="ui dividing header">Personal Emails</h4>
      <div class="field">{$email_3}</div>
      <div class="field">{$email_4}</div>
      <h4 class="ui dividing header">Official Contact</h4>
      <div class="field">{$contact_no_1}</div>
      <div class="field">{$contact_no_2}</div>
      <h4 class="ui dividing header">Personal Contact</h4>
      <div class="field">{$contact_no_3}</div>
      <div class="field">{$contact_no_4}</div>
    </div>
  </div>{$FormButtons}
</div>