.ui.container.raised.segment.main-box
  .ui.two.column.grid
    .ten.wide.column
      h4.ui.dividing.header General Information
      .field
        label Name
        .two.fields
          .field {$first_name}
          .field {$last_name}
      .field
        lable Address
        {$address}  
      .two.fields
        .field
          label City
          {$city}
        .field
          label Pin code
          {$pin_code}
      .two.fields
        .field.atk-form-field
          label Country
          {$country_id}
        .field.atk-form-field
          lable State
          {$state_id}
      h4.ui.dividing.header Official Information
      .two.fields
        .ui.field
          label Department
          {$department_id}
        .ui.field
          label Post
          {$post_id}
      .field
        label Permitted Dashboard
        {$graphical_report_id}
      .field
        lable Remark
        {$remark}
      .inline.field
        {$want_to_add_next_employee}
    .ui.vertical.divider
    .five.wide.column
      h4.ui.dividing.header User Information
      .field
        lable User
        {$user_id}
      .field
        lable Password
        {$password}
      h4.ui.dividing.header Official Emails
      .field
        {$email_1}
      .field
        {$email_2}
      h4.ui.dividing.header Personal Emails
      .field
        {$email_3}
      .field
        {$email_4}
      h4.ui.dividing.header Official Contact
      .field
        {$contact_no_1}
      .field
        {$contact_no_2}
      h4.ui.dividing.header Personal Contact
      .field
        {$contact_no_3}
      .field
        {$contact_no_4}
  | {$FormButtons}