
<div id="user-profile">
  <div class="ui one column grid">{$contact_view_full_width}</div>
  <div class="ui two column grid">
    <div class="five wide column">{$contact_view}</div>{details}  
    <div class="eleven wide column">
      <div class="ui container raised segment main box">
        <div class="ui pointing secondary menu"><a data-tab="first" class="active item">Portfolio</a><a data-tab="second" class="item">Official</a><a data-tab="third" class="item">Activity</a><a data-tab="fourth" class="item">Documents</a></div>
        <div data-tab="first" class="ui bottom attached active tab segment">{portfolio_view}Please Save Basic Information First{/}</div>
        <div data-tab="second" class="ui bottom attached tab segment">{$official_info}</div>
        <div data-tab="third" class="ui bottom attached tab segment">{$activity_view}</div>
        <div data-tab="fourth" class="ui bottom attached tab segment">{$document_view}</div>
      </div>
    </div>{/}                       
  </div>
</div>