#user-profile
  .col-lg-12.col-md-12.col-sm-12
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs.responsive-tabs
          li.active
            a(data-toggle='tab', href='#tab-leave') Leave
          li
            a(data-toggle='tab', href='#tab-leave-temp') Leave Template
        
        .tab-content
          #tab-leave.tab-pane.active
            {leave_template_view}{/}
          #tab-leave-temp.tab-pane
            {$leave_view}
