
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons}</div>
      <div class="btn btn-primary pull-right"><i class="fa fa-sitemap">&nbsp; Hierarchy</i></div><a href="{$dept-url}">
        <div class="btn btn-primary pull-right"><i class="fa fa-bars">&nbsp; List</i></div></a>
    </div>
  </header>{/Pannel}
  <div class="row">
    <div class="col-md-12"></div>{$chart}
  </div>
</div>
<style>
  .xepan-strategy-panning-save-button{
    visibility:hidden;
  }
</style>