.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons}
            .btn.btn-primary.pull-right
                i.fa.fa-sitemap &nbsp; Hierarchy
            a(href="{$dept-url}")
                .btn.btn-primary.pull-right
                    i.fa.fa-bars &nbsp; List

    {/Pannel}
    .row
        .col-md-12
        {$chart}

 style.
  .xepan-strategy-panning-save-button{
    visibility:hidden;
  }