
<div class="main-box-body clearfix">
  <form role="form" class="form-inline">
    <div class="form-group form-group-select2">{post}  
      <select class="form-control">
        <option>Director</option>
        <option>HR Manager</option>
        <option>CEO</option>
        <option>CTO</option>
      </select>{/post}
    </div>
    <div class="form-group">
      <label>On</label>
    </div>
    <div class="form-group form-group-select2">{type}
      <select class="form-control">
        <option>xepan\commerec\Model_Item</option>
        <option>xepan\commerec\Model_Category</option>
        <option>xepan\commerec\Model_Quotation</option>
      </select>{/type}
    </div>
  </form>
</div>