.main-box-body.clearfix
  form.form-inline(role='form')
    .form-group.form-group-select2
      {post}  
      select.form-control
        option Director
        option HR Manager
        option CEO
        option CTO
      {/post}
    .form-group
      label On
    .form-group.form-group-select2
      {type}
      select.form-control
        option xepan\commerec\Model_Item
        option xepan\commerec\Model_Category
        option xepan\commerec\Model_Quotation
      {/type}