.panel.panel-default.panel-body
	.row.xepan-push
		.col-md-12.atk-form-field.atk-form-row
			strong Date Range :
			{$date_range}
	.row.xepan-push
		.col-md-6.atk-form-field.atk-form-row
			strong Created By :
			{$contact}
		.col-md-6.atk-form-field.atk-form-row 	
			strong Related Person :
			{$related_person}
	.row.xepan-push
		.col-md-4.atk-form-field.atk-form-row
			strong Department :
			{$department}
		.col-md-4.atk-form-field.atk-form-row
			strong Communication Type :
			{$communication_type}
		.col-md-4.atk-form-field.atk-form-row
			strong Don't show My Activities :
			div
				{$show_my_activity}	
	.row.xepan-push
		.col-md-12
			{$FormButtons}