.panel.panel-default.panel-body
	.row.xepan-push
		.col-md-6.atk-form-field.atk-form-row
			strong From Date :
			{$from_date}
		.col-md-6.atk-form-field.atk-form-row 	
			strong To Date :
			{$to_date}
	.row.xepan-push
		.col-md-6.atk-form-field.atk-form-row
			strong Created By :
			{$contact}
		.col-md-6.atk-form-field.atk-form-row 	
			strong Related Person :
			{$related_person}
	.row.xepan-push
		.col-md-12.atk-form-field.atk-form-row
			strong Department :
			{$department}
	.row.xepan-push
		.col-md-12
			{$FormButtons}