
<div class="panel panel-default panel-body">
  <div class="row xepan-push">
    <div class="col-md-6 atk-form-field atk-form-row"><strong>From Date :</strong>{$from_date}</div>
    <div class="col-md-6 atk-form-field atk-form-row">	<strong>To Date :</strong>{$to_date}</div>
  </div>
  <div class="row xepan-push">
    <div class="col-md-6 atk-form-field atk-form-row"><strong>Created By :</strong>{$contact}</div>
    <div class="col-md-6 atk-form-field atk-form-row">	<strong>Related Person :</strong>{$related_person}</div>
  </div>
  <div class="row xepan-push">
    <div class="col-md-6 atk-form-field atk-form-row"><strong>Department :</strong>{$department}</div>
    <div class="col-md-6 atk-form-field atk-form-row"><strong>Communication Type :</strong>{$communication_type}</div>
  </div>
  <div class="row xepan-push">
    <div class="col-md-12">{$FormButtons}</div>
  </div>
</div>