
<div class="ui container raised segment main box">
  <div class="field">
    <div class="three fields">
      <div class="field">
        <label>Name</label>{$name}
      </div>
      <div class="field">
        <label>Department</label>{$department_id}
      </div>
      <div class="field">
        <label>Parent Post</label>{$parent_post_id}
      </div>
    </div>
  </div>
</div>
<div class="ui container raised segment main box">
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>In Time(hour)</label>{$in_time}
      </div>
      <div class="field">	
        <label>Out Time(hour)</label>{$out_time}	 
      </div>
    </div>
  </div>
</div>
<div class="ui container raised segment main box">
  <div class="field">
    <div class="three fields"> 	
      <div class="field">
        <label>Permission Level</label>{$permission_level}			
      </div>
      <div class="field"> 	
        <label>Salary Template</label>{$salary_template_id}
      </div>
      <div class="field"> 			
        <label>Leave Template</label>{$leave_template_id} 	
      </div>
    </div>
  </div>
</div>{$FormButtons}	
{$Content}