
<div class="row xepan-push-large">
  <div class="col-md-12">
    <div class="col-md-4 atk-form-row atk-form-field"><span>Name:</span>{$name}</div>
    <div class="col-md-4 atk-form-row atk-form-field"><span>Department:</span>{$department_id}</div>
    <div class="col-md-4 atk-form-row atk-form-field"><span>Parent Post:</span>{$parent_post_id}</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">
    <div class="col-md-6 atk-form-row atk-form-field"><span>In Time(hour):</span>{$in_time}</div>
    <div class="col-md-6 atk-form-row atk-form-field">	<span>Out Time(hour):</span>{$out_time}	 </div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12 atk-form-row atk-form-field"> 	<span>Permission Level:</span>{$permission_level}			</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12 atk-form-row atk-form-field"> 	<span>Salary Template:</span>{$salary_template_id}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12 atk-form-row atk-form-field"> 			<span>Leave Template:</span>{$leave_template_id}</div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">
    	
    {$FormButtons}	
    {$Content}
  </div>
</div>