.row.xepan-push-large
	.col-md-12
		.col-md-4
			{$name}
		.col-md-4
			{$department_id}
		.col-md-4
			{$parent_post_id}
.row
	.col-md-12
		.col-md-4
			{$in_time}
		.col-md-4 	
			{$out_time}	 
		.col-md-4 	
			{$FormButtons}	
