.ui.container.raised.segment.main.box
	.field
		.three.fields
			.field
				label Name
				{$name}
			.field
				label Department
				{$department_id}
			.field
				label Parent Post
				{$parent_post_id}
.ui.container.raised.segment.main.box
	.field
		.two.fields
			.field
				label In Time(hour)
				{$in_time}
			.field 	
				label Out Time(hour)
				{$out_time}	 
.ui.container.raised.segment.main.box
	.field
		.three.fields  	
			.field
				label Permission Level
				{$permission_level}			
			.field  	
				label Salary Template
				{$salary_template_id}
			.field  			
				label Leave Template
				{$leave_template_id} 	
|{$FormButtons}	
|{$Content}