
<div class="row xepan-push-large">
  <div class="col-md-12">
    <div class="col-md-4"><span>Name:</span>{$name}</div>
    <div class="col-md-4"><span>Department:</span>{$department_id}</div>
    <div class="col-md-4"><span>Parent Post:</span>{$parent_post_id}</div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">
    <div class="col-md-6"><span>In Time(hour):</span>{$in_time}</div>
    <div class="col-md-6">	<span>Out Time(hour):</span>{$out_time}	 </div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="col-md-12">
    	
    {$FormButtons}	
  </div>
</div>