.row.xepan-push-large
	.col-md-12
		.col-md-4.atk-form-row.atk-form-field
			span Name:
			{$name}
		.col-md-4.atk-form-row.atk-form-field
			span Department:
			{$department_id}
		.col-md-4.atk-form-row.atk-form-field
			span Parent Post:
			{$parent_post_id}
.row.xepan-push-large
	.col-md-12
		.col-md-6.atk-form-row.atk-form-field
			span In Time(hour):
			{$in_time}
		.col-md-6.atk-form-row.atk-form-field 	
			span Out Time(hour):
			{$out_time}	 
.row.xepan-push-large
		.col-md-12.atk-form-row.atk-form-field  	
			span Permission Level:
			{$permission_level}			
.row.xepan-push-large
		.col-md-12.atk-form-row.atk-form-field  	
			span Salary Template:
			{$salary_template_id}
.row.xepan-push-large
		.col-md-12.atk-form-row.atk-form-field  			
			span Leave Template:
			{$leave_template_id}
.row.xepan-push-large
		.col-md-12 	
			{$FormButtons}	
			{$Content}