.panel.panel-default
	.panel-heading Basic Information
	.panel-body
		.row.xepan-push
			.col-md-12.atk-form-row.atk-form-field
				strong Employee 
				{$employee}
		.row.xepan-push
			.col-md-6.atk-form-row.atk-form-field
				strong Post 
				{$post}
			.col-md-6.atk-form-row.atk-form-field
				strong Department 
				{$department}
		.row.xepan-push
			.col-md-12.atk-form-row.atk-form-field
				strong Widget 
				{$widget}

.panel.panel-default
	.panel-heading Scheduling Information
	.panel-body
		.row.xepan-push
			.col-md-4.atk-form-row.atk-form-field
				strong Time Span 
				{$time_span}
			.col-md-4.atk-form-row.atk-form-field
				strong Starting From Date 
				{$starting_from_date}
			.col-md-4.atk-form-row.atk-form-field
				strong Data range 
				{$data_range}
			.col-md-4.atk-form-row.atk-form-field
				strong Financial Month Start 
				{$financial_month_start}