
<div class="panel panel-default">
  <div class="panel-heading">Basic Information</div>
  <div class="panel-body">
    <div class="row xepan-push">
      <div class="col-md-12 atk-form-row atk-form-field"><strong>Employee </strong>{$employee}</div>
    </div>
    <div class="row xepan-push">
      <div class="col-md-6 atk-form-row atk-form-field"><strong>Post </strong>{$post}</div>
      <div class="col-md-6 atk-form-row atk-form-field"><strong>Department </strong>{$department}</div>
    </div>
    <div class="row xepan-push">
      <div class="col-md-12 atk-form-row atk-form-field"><strong>Widget </strong>{$widget}</div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Scheduling Information</div>
  <div class="panel-body">
    <div class="row xepan-push">
      <div class="col-md-4 atk-form-row atk-form-field"><strong>Time Span </strong>{$time_span}</div>
      <div class="col-md-4 atk-form-row atk-form-field"><strong>Starting From Date </strong>{$starting_from_date}</div>
      <div class="col-md-4 atk-form-row atk-form-field"><strong>Data range </strong>{$data_range}</div>
      <div class="col-md-4 atk-form-row atk-form-field"><strong>Financial Month Start </strong>{$financial_month_start}</div>
    </div>
  </div>
</div>