.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    .ui.container.raised.segment.main.box
        .ui.feed
            {header}
            {cols}{col}
            {/}{/}
            {/}
            {$subheader}
            {rows}{row}
            .event(class="{$odd_even}" data-id="{$id}")
                {cols}
                .label
                    img(src="http://semantic-ui.com/images/avatar/small/joe.jpg")
                .content
                    .summary
                        .user    
                             {activity}| Scarlett Johansson posted a comment in{/}&nbsp;
                             | (created by  
                             a(href='#'){$contact}
                             |) 
                             a(href='#'){$related_document} 
                .date
                 |{callback_date} 2014/08/08 12:08{/}
                td
                 {$edit}
                 {$delete}
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
