
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">
        <tr style="font-size: 0.80em;">{cols}
          <th>Leave Template</th>
          <th>Leave</th>
          <th>Is Yearly Carried Forward</th>
          <th>Type</th>
          <th>Is Unit Carried Forward</th>
          <th>Unit</th>
          <th>Allow Over Quota</th>
          <th>No. Of Leave</th>
          <th></th>{/}    
        </tr>
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" style="font-size: 1em;" class="{$odd_even}">{cols}
          <td>{$leave_template}</td>
          <td>{$leave}</td>
          <td>{is_yearly_carried_forward}{/}</td>
          <td>{type}{/}</td>
          <td>{$is_unit_carried_forward}</td>
          <td>{$unit}</td>
          <td>{$allow_over_quota}</td>
          <td>
             
            {$no_of_leave}
          </td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
            {/}
          </td>
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>