
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">{$salary_view}
      <div class="xepan-push"> </div>
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">
        <tr>{cols}
          <th>Salary</th>
          <th>Type</th>
          <th>Add / Deduction</th>
          <th>Unit</th>
          <th>Order</th>
          <th>Default Value</th>
          <th>Is Reimbursement</th>
          <th>Is Deduction</th>
          <th></th>{/}    
        </tr>
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$name}</td>
          <td>{type}{/}</td>
          <td>{add_deduction}{/}</td>
          <td>{$unit}</td>
          <td>{$order}</td>
          <td>{$default_value}</td>
          <td>{$is_reimbursement}</td>
          <td>{$is_deduction}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
            {/}
          </td>
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>