
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui stackable equal width grid  {$class} ">
    <div class="column">{$grid_buttons}</div>
    <div class="right aligned column">{$quick_search}<i class="search icon"></i></div>
  </div>{/Pannel}
  <table class="ui striped table">{header}
    <thead>{cols}{col}
      <th id="{$name_sortid}"><span>Name {$name_sort}</span></th>
      <th data-hide="phone"><span>Narration</span></th>
      <th> </th>{/}{/}
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}    
        <td>
          <h5 class="ui image header">{avatar}<img alt="" src="{image}img/samples/scarlet-159.png{/}"/>{/}
            <div class="content">
              <div href="#" data-id="{$id}" class="user-link do-view-affiliate"> {name}Name{/}</div>
              <div class="sub header">
                <div class="user-subhead">[{organization}{/}] </div>
              </div>
            </div>
          </h5>
        </td>
        <td>{$narration}    </td>
        <td>{$action}</td>
        <td style="width: 15%;">
          {$edit}
          {$delete}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
    </tbody>{totals}
    <tfoot>
      <tr class="totals">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>
    </tfoot>{/}
    {$Paginator}
  </table>
</div>