| Hello {$name}, this is an activation mail to activate your account ;
br
| Your Registered Email Id : {$email_id}
br
| Your Password : {$password}
br
| For Activation You have to Click Here To Activate{$click_here_to_activate} 