
<div class="col-md-10">
  <div class="main-box clearfix">
    <div class="tabs-wrapper profile-tabs">
      <ul class="nav nav-tabs responsive-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-personpayslip">Individual Person Pay Slip</a></li>
        <li><a data-toggle="tab" href="#tab-employees">All Employee Pay Slip List  </a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-personpayslip" class="tab-pane active">{$personpayslip}</div>
        <div id="tab-employees" class="tab-pane">{$employees}</div>
      </div>
    </div>
  </div>
</div>