.col-md-10
  .main-box.clearfix
    .tabs-wrapper.profile-tabs
      ul.nav.nav-tabs.responsive-tabs
        li.active
          a(data-toggle='tab', href='#tab-personpayslip') Individual Person Pay Slip
        li
          a(data-toggle='tab', href='#tab-employees') All Employee Pay Slip List  
      .tab-content
        
         #tab-personpayslip.tab-pane.active
           {$personpayslip}
         #tab-employees.tab-pane
           {$employees}
//- script.
//-   $('.responsive-tabs').responsiveTabs({
//-         accordionOn: ['xs', 'sm']
//-   });
