div(id="{$_name}" class="{$class}")
	h2.atk-push Basic Information
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.col-lg-12
			.main-box
				header.main-box-header.clearfix
				.main-box-body.clearfix
					.form-group.row
						.col-md-6.col-lg-6
							{$epan_id}
						.col-md-6.col-lg-6
							{$is_active}
					.xepan-push
					.form-group.row
						.col-md-12.col-lg-12
							{$address}	
					.xepan-push
					.form-group.row
						.col-md-6.col-lg-6
							{$city}    
						.col-md-6.col-lg-6
							{$state}
					.xepan-push		
					.form-group.row
						.col-md-6.col-lg-6
							{$country}    
						.col-md-6.col-lg-6
							{$pin_code}
					.xepan-push-large		
					{$FormButtons}