div(id="{$_name}" class="{$class}")
	h2.atk-push Reset Password
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.col-lg-12
			.main-box
				header.main-box-header.clearfix
				.main-box-body.clearfix
					form.form-group.row
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$old_password}
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$new_password}
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$retype_password}
					.xepan-push-large
					.xepan-push-large
					.atk-align-center.h-lines
							span.h-lines-wrap
							a.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
								{$FormButtons}