div(id="{$_name}" class="{$class}")
	h2.atk-push Reset Password
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.col-lg-12
			.main-box
				header.main-box-header.clearfix
				.main-box-body.clearfix
					form.form-group.row
						.col-md-4.col-lg-4
							{$old_password}
						.col-md-4.col-lg-4
							{$new_password}
						.col-md-4.col-lg-4
							{$retype_password}
					.row
						{$field_hint}
						{field_error}
						p.atk-form-error
							span.icon-attention
							span.atk-size-micro.field-error-text {$field_error_str}
						{/}
					{/}						
					.xepan-push-large		
					//- button.btn.btn-success
					{$FormButtons}