
<div id="{$_name}" class="{$class}">
  <h2 class="atk-push">Reset Password</h2>
  <div class="atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix"></header>
        <div class="main-box-body clearfix">
          <form class="form-group row">
            <div class="col-md-4 col-lg-4">{$old_password}</div>
            <div class="col-md-4 col-lg-4">{$new_password}</div>
            <div class="col-md-4 col-lg-4">{$retype_password}</div>
          </form>
          <div class="row">{$above_field}{$cells_start}{$before_field}{$input_cell_start}{$before_input}{$field_input}{$icon}{$after_input}{$input_cell_stop}{$after_field}{$cells_stop}{$below_field}</div>
          <div class="row">
            {$field_hint}
            {field_error}
            <p class="atk-form-error"><span class="icon-attention"></span><span class="atk-size-micro field-error-text">{$field_error_str}</span></p>{/}
          </div>{/}
          {form_separator}</div><div class="{$fieldset_class} atk-cells-group atk-cells-gutter-large">{/}
          <p class="field-error-template atk-form-error"><span class="field-error-text">{$field_error_str}						</span></p>
          <div class="xepan-push-large">		</div>{$FormButtons}
        </div>
      </div>
    </div>
  </div>
</div>