
<div id="{$_name}" class="{$class}">
  <h2 class="atk-push">Reset Password</h2>
  <div class="atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix"></header>
        <div class="main-box-body clearfix">
          <div class="form-group row">
            <div class="col-md-4 col-lg-4">{$old_password}</div>
            <div class="col-md-4 col-lg-4">{$new_password}</div>
            <div class="col-md-4 col-lg-4">{$retype_password}</div>
          </div>
          <div class="xepan-push-large">		</div>{$FormButtons}
        </div>
      </div>
    </div>
  </div>
</div>