.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.very.basic.collapsing.celled.table
        {header}
        thead
            {cols}{col}
            th
                span Document Name
            th
            th
            {/}{/}
        {/}
        {$subheader}
        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td
                    a.details.name(href="{$employee_document}" download="{$name}_{$filename}") {name}Secondary Marksheet{/}  
                td
                    .type(role='group', aria-label='...')
                        a( href="{$employee_document}" download="{$name}_{$filename}")
                            embed(class="doc-img litebox-image ui small image" title="Click to Download {$name}"  src='{employee_document}img/samples/hdr/small/img_5.jpg{/}')
                td
                    {$edit}
                    {$delete}
                
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}