.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
    style.
        .widget-users li{
            height:auto!important;
        }
        .doc-img{
            width:100px;
            min-height:80px;
            max-height:100px;
        }
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                div(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix
        .row
            {header}{cols}{col}{/}{/}{/}
            {rows}{row}
            div(class="{$odd_even} col-md-{col-width}3{/}" data-id="{$id}")
                {cols}
                li.col-md-12
                    .details
                        .name
                            a.text-center(href='#') {name}Secondary Marksheet{/}
                        .type
                            .btn-group(role='group', aria-label='...')
                                //- button.btn.btn-sm.btn-success(type='button')|Download
                                a( href="{employee_document}logo.png{/}" download="{$name}")
                                    img(class="doc-img" alt='Download' title="Click to Download {$name}"  src='{employee_document}img/samples/hdr/small/img_5.jpg{/}')
                                //- button.btn.btn-sm.btn-danger(type='button')
                                //- br  
                                {$edit}   
                                {$delete}   
            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}{cols}{col}{$content}{/}{/}{/}
        {$Paginator}