div.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.horizontal.list
        .item
            {$grid_buttons}
        .item
            {$quick_search}
            i(class="fa fa-search search-icon")
    {/Pannel}
    .ui.cards
        {header}{cols}{col}{/}{/}{/}
        {$subheader}
        {rows}{row}
        .card(class="{$odd_even}" data-id="{$id}")
            {cols}
            img.ui.image(src="{$image}")
            .content
            .header
                a.user-link.do-view-employee(href='#',data-id="{$id}") {$name}
            .meta {$department} / {$posts}
            .extra.content
                span.right.floated {doj}2013/08/08{/}
                span{emails_str}mila@kunis.com{/}
            .content
                {$action}
                {$edit}{$delete}
            {/}
        {/}{/}
        {not_found}
        div.row
            .col-md-12.text-center.alert.alert-warning(role="alert")
                span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
        {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
    {$Paginator}
