
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui horizontal list">
    <div class="item">{$grid_buttons}</div>
    <div class="item">{$quick_search}<i class="fa fa-search search-icon"></i></div>
  </div>{/Pannel}
  <div class="ui cards">
    {header}{cols}{col}{/}{/}{/}
    {$subheader}
    {rows}{row}
    <div data-id="{$id}" class="ui link card user-link {$odd_even}">{cols}
      <div class="image"><img src="{$image}" onerror="this.src=&quot;./vendor/xepan/base/templates/images/avtar-default.png&quot;"/></div>
      <div class="content">
        <div class="header">
          <div data-id="{$id}" class="user-link do-view-employee">{$name}</div>
        </div>
        <div class="meta"><span class="date">{$department} / {$posts}</span><span class="right floated date">Since {$callback_date}</span></div>
      </div>
      <div class="extra content">{$action}
        <div class="right floated">{$edit}{$delete}</div>
      </div>{/}
    </div>{/}{/}
    {not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {totals}
    <tfoot>
      <tr class="totals">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>
    </tfoot>{/}
  </div>{$Paginator}
</div>