.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table-responsive
        table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
            {header}
            thead.xepan-hover-hand
                tr
                    {cols}{col}
                    th S.no.
                    th(id="{$name_sortid}")
                      span User 
                      span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$name_sort}
                    th(id="{$doj_sortid}" data-hide="phone")
                      span Date Of Joining 
                      span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$doj_sort}
                    th( data-hide="phone")
                      span Email
                    {/}{/}    
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                      | {$s_no}
                      | {$selected}
                    td
                      {avatar}
                      img(alt='', src='{image}img/samples/scarlet-159.png{/}')
                      {/}
                      //- a.user-link(href='{url}index.php?page=xepan_hr_employeedetail&contact_id={$id}{/}') {$name}
                      a.user-link.do-view-employee(href='#',data-id="{$id}") {$name}
                      span.user-subhead {$department} / {$posts}
                    td
                      | {doj}2013/08/08{/}
                    td
                      a(href='#') 
                        {emails_str}mila@kunis.com{/}
                    td
                        {$action}
                        {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
