div.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.horizontal.list
        .item
            {$grid_buttons}
        .item
            {$quick_search}
            i(class="fa fa-search search-icon")
    {/Pannel}
    .ui.cards
        {header}{cols}{col}{/}{/}{/}
        {$subheader}
        {rows}{row}
        .ui.link.card.user-link(class="{$odd_even}" data-id="{$id}")
            {cols}
            .image
                img(src="{$image}" onerror='this.src="./vendor/xepan/base/templates/images/avtar-default.png"')
            .content
                .header
                    .user-link.do-view-employee(data-id="{$id}") {$name}
                .meta
                    span.date {$department} / {$posts}
                    span.right.floated.date Since {$callback_date}
            .extra.content
                {$action}
                .right.floated
                    {$edit}{$delete}
            {/}
        {/}{/}
        {not_found}
        div.row
            .col-md-12.text-center.alert.alert-warning(role="alert")
                span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
        {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
    {$Paginator}
