.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.very.basic.collapsing.celled.table
        {header}
        thead
            {cols}{col}
            th
                span Previous Company
            th
                span Designation
            th
                span Department
            th
                span Salary
            th
                span Duration
            th
            {/}{/}
        {/}
        {$subheader}
        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td.ui.image.header
                    .content {$name}
                        .sub.header {$company_branch}
                td
                     {$designation}
                td
                     {$department}
                td
                     {$salary}
                td
                     {$duration}
                td
                    {$edit}
                    {$delete}
                
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}