.xepan-grid.clearfix(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                //- div(class="form-control pull-left")|{$quick_search}
                //-     i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix
        .row
            {header}{cols}{col}{/}{/}{/}
            {rows}{row}
            div(class="{$odd_even} col-md-{col-width}12{/}" data-id="{$id}")
                {cols}
                .col-md-12.xepan-push-small
                    .col-md-5
                        strong Previous Company:
                        div {$name}
                    .col-md-4 
                        strong Branch:
                        div {$company_branch}
                    .col-md-3 
                        strong Designation:
                        div {$designation} 
                .col-md-12.xepan-push-small(style="margin-top:5%")
                    .col-md-5
                        strong Department:
                        div {$department}  
                    .col-md-4
                        strong Salary:
                        div{$salary}
                    .col-md-3
                        strong Duration:
                        div{$duration}    
                
                .col-md-12.text-right(style="margin-bottom:3%")
                    .com-md-3
                    //- | {$action}
                    {$edit}
                    {$delete}
                    
            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}{cols}{col}{$content}{/}{/}{/}
        {$Paginator}
