
<div class="col-md-12">
  <div class="main-box clearfix">
    <div class="tabs-wrapper profile-tabs">
      <ul class="nav nav-tabs responsive-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-day">Day</a></li>
        <li><a data-toggle="tab" href="#tab-week">Week </a></li>
        <li><a data-toggle="tab" href="#tab-month">Month</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-day" class="tab-pane active">{$day}</div>
        <div id="tab-week" class="tab-pane">{$week}</div>
        <div id="tab-month" class="tab-pane">{$month}</div>
      </div>
    </div>
  </div>
</div>