.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.striped.table
        {header}
        thead
            {cols}{col}
            th
                span Employee
            th
                span Employee Leave Allow
            th
                span From Date 
            th
                span To Date
            th
                span No. Of Leave
            th
            th
            {/}{/}
        {/}
        {$subheader}
        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td
                    a.do-view-employee(href='#',data-id="{$employee_id}") {$employee}
                td
                    {$emp_leave_allow} 
                td
                    {$from_date}
                td
                    {$to_date}
                td
                    {$no_of_leave}
                td
                    | {$action}
                td
                    {$edit}
                    {$delete}
                
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}