
<div id="{$_name}" class="xepan-grid {$class}">{Pannel}
  <header class="main-box-header atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}</span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">{$subheader}
    <div class="main-box-body clearfix table">
      <div class="main-box clearfix"></div>{cols}
      {rows}{row}
      <div class="col-md-3 small">
        <div class="infographic-box merged merged-top pull-left"><i class="fa {$icon-class}"></i><span style="font-size: 15px;" class="small {$text-class}">{$in_at}</span><span class="headline text-small text-muted">{$name}</span></div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
    </div>{totals}
    <tfoot>
      <tr class="totals">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>
    </tfoot>{/}
  </div>{$Paginator}
  <style>
    .infographic-box.merged{
      border-right: 0px !important;
    }
  </style>
</div>