
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui stackable equal width grid  {$class} ">
    <div class="column">{$grid_buttons}</div>
    <div class="right aligned column">{$quick_search}<i class="search icon"></i></div>
  </div>{/Pannel}
  <table class="ui striped table">{header}
    <thead>{cols}{col}
      <th><span>Direction</span></th>
      <th><span>Time {$department_id_sort}</span></th>
      <th><span>Reason {$parent_post_sort}</span></th>
      <th><span>Narration</span></th>
      <th><span>Duration</span></th>
      <th></th>{/}{/}
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td>{$direction} {$Content}</td>
        <td>{$time}</td>
        <td>{$reason}</td>
        <td>{$duration}</td>
        <td> {$enarration}</td>
        <td>{$action}</td>
        <td style="width: 15%;">
          {$edit}
          {$delete}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </tbody>{$Paginator}
  </table>
</div>