.xepan-grid(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
    {/Pannel}
    .main-box-body.clearfix.table
        {$subheader}
        .main-box-body.clearfix.table
            h2.text-muted Employees Present
            .row.main-box.clearfix
            {cols}
            {rows}{row}
            .col-md-4.small
                .row(style="margin-top:4px; margin-bottom:4px;")
                    .col-md-3
                        span(class="{$text-class}" style="padding-left:4px;")
                            i(class="{$icon-class}" style = "text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;")
                    .col-md-9
                        .row     
                            .col-md-12
                                span.text-center.small(class="{$text-class}" style="font-size: 12px;") {$in_at}
                        .row
                            .col-md-12
                                span.headline.text-small.text-muted.text-center(style="font-size: 11px; font-weight:5px;") {$name}
            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
    {$Paginator}
    style.
      .infographic-box.merged{
        border-right: 0px !important;
      }
    