div(id="{$_name}" class="{$class}")
    {Pannel}
    div(class=" {$class} "){$grid_buttons} {$quick_search}
    {/Pannel}
    .main-box-body.clearfix.table
        {$header}
        {$subheader}
        .main-box-body.clearfix.table
            h2(style="margin-left:15px; margin-top:20px;") Employees Present 
            span.text-muted(style="margin-left:15px;") {$as_on}
            .row.main-box.clearfix
            {cols}
            {rows}{row}
            .col-md-4.small.xepan-widget-employee-attendance(data-id="{$id}" style= "cursor:pointer; cursor: hand; max-width:600px;"){$dummy}
                .row(style="margin-top:4px; margin-bottom:4px;")
                    .col-md-3
                        span(class="{$text-class}" style="padding-left:4px;")
                            i(class="{$icon-class}" style = "text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;")
                    .col-md-9
                        .row     
                            .col-md-12
                                span.text-center.small(class="{$text-class}" style="font-size: 12px;") {$in_at}
                        .row
                            .col-md-12
                                span.headline.text-small.text-muted.text-center(style="font-size: 11px; font-weight:5px;") {$name}
            {/}
            {/}{/}
            .row(style="margin-bottom:20px;")
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
    {$Paginator}
    style.
      .infographic-box.merged{
        border-right: 0px !important;
      }
    