
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12">
          <div class="col-lg-5"><strong> Offer Date</strong></div>
          <div class="col-lg-5"><strong> Joining Date</strong></div>
          <div class="col-lg-5">{$offer_date}</div>
          <div class="col-lg-5">{$doj}</div>
        </div>
        <div class="col-md-12">
          <div class="col-lg-5"><strong> Contact Date</strong></div>
          <div class="col-lg-5"><strong> leaving Date</strong></div>
          <div class="col-lg-5">{$contract_date}</div>
          <div class="col-lg-5">{$leving_date}</div>
        </div>
      </div>
      <div class="col-lg-12 pull-right">{$FormButtons}
      </div>
    </div>
  </div>
</div>