.ui.container.raised.segment
  .field
    .two.fields
      .field
        label Offer Date
        {$offer_date}
      .field
        label Joining Date
        {$doj}
  .field
    .two.fields
      .field
        label Contract Date
        {$contract_date}
      .field
        label Leaving Date
        {$leaving_date}
   .field
    .two.fields
      .field
        label In Time
        {$in_time}
      .field
        label Out Time
        {$out_time}
| {$FormButtons}
.ui.container.raised.segment
    {$EmployeeSalary}
.ui.container.raised.segment
    {$EmployeeLeaveAllow}