
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-md-12 xepan-push">
        <div class="col-lg-5"></div>
        <div class="col-lg-5 xepan-push-small"></div>
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> Offer Date</strong>
            <div>{$offer_date}</div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> Joining Date</strong>
            <div>{$doj}</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 xepan-push">
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> Contract Date</strong>
            <div>{$contract_date}</div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> leaving Date</strong>
            <div>{$leaving_date}</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 xepan-push">
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> In_Time</strong>
            <div>{$in_time}</div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="atk-form-row"><strong> Out_Time</strong>
            <div>{$out_time}</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 xepan-push">
        <div class="col-lg-12">
          <div class="atk-form-row"><strong> Salary Payment Type</strong>
            <div>{$salary_payment_type}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 pull-right">{$FormButtons}</div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">{$EmployeeSalary}</div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">{$EmployeeLeaveAllow}</div>
</div>{$Content}