.col-lg-12
  .panel.panel-default
    .panel-body 
      .col-lg-12.xepan-push
        .col-md-12.xepan-push
          .col-lg-5
            strong  Offer Date
          .col-lg-5.xepan-push-small
            strong  Joining Date
          .col-lg-5
            | {$offer_date}
          .col-lg-5
            | {$doj}
      .col-lg-12.xepan-push
        .col-md-12.xepan-push
          .col-lg-5
            strong  Contract Date
          .col-lg-5.xepan-push-small
            strong  leaving Date
          .col-lg-5
            | {$contract_date}
          .col-lg-5
            | {$leaving_date}
      .col-lg-12.xepan-push
        .col-md-12.xepan-push
          .col-lg-5
            strong  In_Time
          .col-lg-5.xepan-push-small
            strong  Out_Time
          .col-lg-5
            | {$in_time}
          .col-lg-5
            | {$out_time}
      .col-lg-12.pull-right
        //- .col-lg-4.pull-right 
        | {$FormButtons}