
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12 xepan-push">
          <div class="col-lg-5"><strong> Offer Date</strong></div>
          <div class="col-lg-5 xepan-push-small"><strong> Joining Date</strong></div>
          <div class="col-lg-5">{$offer_date}</div>
          <div class="col-lg-5">{$doj}</div>
        </div>
      </div>
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12 xepan-push">
          <div class="col-lg-5"><strong> Contract Date</strong></div>
          <div class="col-lg-5 xepan-push-small"><strong> leaving Date</strong></div>
          <div class="col-lg-5">{$contract_date}</div>
          <div class="col-lg-5">{$leaving_date}</div>
        </div>
      </div>
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12 xepan-push">
          <div class="col-lg-5"><strong> In_Time</strong></div>
          <div class="col-lg-5 xepan-push-small"><strong> Out_Time</strong></div>
          <div class="col-lg-5">{$in_time}</div>
          <div class="col-lg-5">{$out_time}</div>
        </div>
      </div>
      <div class="col-lg-12 pull-right">{$FormButtons}
      </div>
    </div>
  </div>
</div>