.col-lg-12
  .panel.panel-default
    .panel-body 
      .col-lg-12.xepan-push
        .col-md-12.xepan-push-small.main-box.clearfix
          .col-lg-5
            strong  Offer Date
          .col-lg-5
            strong  Joining Date
          .col-lg-5
            | {$offer_date}
          .col-lg-5
            | {$doj}
      .col-lg-12.xepan-push
        .col-md-12.xepan-push-small.main-box.clearfix
          .col-lg-5
            strong  Contact Date
          .col-lg-5
            strong  leaving Date
          .col-lg-5
            | {$contract_date}
          .col-lg-5
            | {$leving_date}
      .col-lg-12.pull-right
        //- .col-lg-4.pull-right 
        | {$FormButtons}