
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui stackable equal width grid  {$class} ">
    <div class="column">{$grid_buttons}</div>
    <div class="right aligned column">{$quick_search}<i class="search icon"></i></div>
  </div>{/Pannel}
  <table class="ui very basic collapsing celled table">{header}
    <thead>{cols}{col}
      <th><span>Qualification</span></th>
      <th><span>Qualification Level</span></th>
      <th><span>Remark</span></th>
      <th></th>{/}{/}
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td>{$name}</td>
        <td>{$qualificaton_level}</td>
        <td>{$remarks}</td>
        <td>
          {$edit}
          {$delete}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </tbody>{$Paginator}
  </table>
</div>