
<div id="{$_name}" class="xepan-grid main-box clearfix {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="row">{header}{cols}{col}
      <div class="row">
        <div class="col-md-5"><strong>Qualification:</strong></div>
        <div class="col-md-4"><strong>Qualification Level:</strong></div>
        <div class="col-md-3"><strong>Remaks:</strong></div>
      </div>{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}12{/}">{cols}
        <div class="row">
          <div class="col-md-5">{name} Institute name here {/name}</div>
          <div class="col-md-4">
            {qualificaton_level}
              Graduation/Post Graduation
            {/qualificaton_level}  
          </div>
          <div class="col-md-3">{percentage}|  7.00{/percentage}</div>
        </div>
        <div class="row">
          <div class="col-md-3 pull-right">{$edit}
            {$delete}
          </div>
        </div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>