<table style="height: 183px; width: 1333px;">
<tbody>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 39px;" rowspan="3">Company Logo</td>
<td style="width: 1152.2px; height: 13px; text-align: center;" colspan="8"><strong>Company Name</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 1152.2px; height: 13px; text-align: center;" colspan="8"><strong>Address</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 1152.2px; height: 13px; text-align: center;" colspan="8"><strong>Contact No.</strong></td>
</tr>
<tr style="height: 31px;">
<td style="width: 114.8px; height: 31px;"><strong>Reg No . 758478</strong></td>
<td style="width: 1152.2px; height: 31px; text-align: center;" colspan="8"><span style="font-size: 24px;"><strong>PAY SLIP</strong></span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Name of The Employee</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">Mr. X Employee</td>
<td style="width: 141px; height: 13px;"><strong>Location</strong></td>
<td style="width: 564px; height: 13px;" colspan="4">Jaipur</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Employee Code</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">47894357</td>
<td style="width: 141px; height: 13px;"><strong>Date of Birth</strong></td>
<td style="width: 564px; height: 13px;" colspan="4">01/01/1010</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Month</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">10- 2016</td>
<td style="width: 141px; height: 13px;"><strong>Date Of Joining</strong></td>
<td style="width: 564px; height: 13px;" colspan="4">01/01/0122</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Designation</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">Manager</td>
<td style="width: 141px; height: 13px;"><strong>Provident Fund No.</strong></td>
<td style="width: 564px; height: 13px;" colspan="4">HK/JK/85379</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Department</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">HR </td>
<td style="width: 705px; height: 13px;" colspan="5">&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Pan Card No.</strong></td>
<td style="width: 447.2px; height: 13px;" colspan="3">HJKHKJH899</td>
<td style="width: 705px; height: 13px;" colspan="5">&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="width: 421px; height: 13px; text-align: center;" colspan="3"><strong>Earnings</strong></td>
<td style="width: 282px; height: 13px; text-align: center;" colspan="2"><strong>Deduction</strong></td>
<td style="width: 564px; height: 13px; text-align: center;" colspan="4"><strong>Leave Status</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Particulars</strong></td>
<td style="width: 165.2px; height: 13px;"><strong>Gross Amount</strong></td>
<td style="width: 141px; height: 13px;"><strong>Payable Amount</strong></td>
<td style="width: 141px; height: 13px;"><strong>Particular</strong></td>
<td style="width: 141px; height: 13px;"><strong>Amount</strong></td>
<td style="width: 141px; height: 13px;"><strong>Type</strong></td>
<td style="width: 141px; height: 13px;"><strong>Total</strong></td>
<td style="width: 141px; height: 13px;"><strong>Utilized</strong></td>
<td style="width: 141px; height: 13px;"><strong>Balance</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">Basic</td>
<td style="width: 165.2px; height: 13px;">25000</td>
<td style="width: 141px; height: 13px;">25000</td>
<td style="width: 141px; height: 13px;">PF</td>
<td style="width: 141px; height: 13px;">300</td>
<td style="width: 141px; height: 13px;">CL</td>
<td style="width: 141px; height: 13px;">1</td>
<td style="width: 141px; height: 13px;">1</td>
<td style="width: 141px; height: 13px;">1</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">&nbsp;</td>
<td style="width: 165.2px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">Advance</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 282px; height: 13px; text-align: center;" colspan="2"><strong>Availed Leaves In December</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">&nbsp;</td>
<td style="width: 165.2px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;"><strong>Leaves Type</strong></td>
<td style="width: 141px; height: 13px;"><strong>Leaves In December 2016</strong></td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">&nbsp;</td>
<td style="width: 165.2px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">CL</td>
<td style="width: 141px; height: 13px;">1</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">&nbsp;</td>
<td style="width: 165.2px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">CCL</td>
<td style="width: 141px; height: 13px;">1</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;"><strong>Total</strong></td>
<td style="width: 165.2px; height: 13px;">25000</td>
<td style="width: 141px; height: 13px;">25000</td>
<td style="width: 141px; height: 13px;"><strong>Total Deduction</strong></td>
<td style="width: 141px; height: 13px;">300</td>
<td style="width: 564px; height: 13px;" colspan="4">&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="width: 562px; height: 13px;" colspan="4"><strong>In Words : One Lakh Only</strong></td>
<td style="width: 141px; height: 13px;"><strong>Net Salary</strong></td>
<td style="width: 564px; height: 13px;" colspan="4">14512154</td>
</tr>
<tr style="height: 13px;">
<td style="width: 114.8px; height: 13px;">&nbsp;</td>
<td style="width: 165.2px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
<td style="width: 141px; height: 13px;">&nbsp;</td>
</tr>
<tr style="height: 76px;">
<td style="width: 562px; height: 76px; text-align: center;" colspan="4"><strong>Authorized Signatury &amp; Seal</strong></td>
<td style="width: 705px; height: 76px; text-align: center;" colspan="5"><strong>Date Of Generation : 28/12/4152</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>