
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="btnn btn-primaryy pull-right">{$grid_buttons} 
      </div>
      <div class="form-group xepan-grid-search"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><a href="#"><span>Department</span></a></th>
        <th><a href="#"><span>Post</span></a></th>
        <th class="text-left"><a href="#" class="desc"><span>E-mail</span></a></th>
        <th class="text-center"><span>Status</span></th>
        <th class="text-center"><a href="#" class="asc"><span>Employee</span></a></th>
        <th></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$department}</td>
          <td>{$name}
            <div class="atk-label"><small>{$department}\{$name}</small></div>
          </td>
          <td class="text-left">{email}info@xavoc.com{/email}</td>
          <td class="text-center"><span class="label label-success">{status}Active{/}</span></td>
          <td class="text-center"><a href="index.php?page=xepan_hr_employee&amp;post_id={$id}"> {$employee}</a></td>
          <td>{$action}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
            {/}
          </td>
        </tr>{/}{/}
        {not_found}
        <tr>
          <td class="atk-padding-large atk-align-center"><span class="atk-label atk-effect-warning"><span class="icon-attention">&nbsp;{$not_found_message}</span></span></td>
        </tr>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>