
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><a href="#"><span>Department</span></a></th>
        <th><a href="#"><span>Post</span></a></th>
        <th><span>Schedule Time</span></th>
        <th class="text-left"><a href="#" class="desc"><span>E-mail</span></a></th>
        <th class="text-center"><a href="#" class="asc"><span>Employee</span></a></th>
        <th></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><small>{$department}</small></td>
          <td>{$name}
            <div class="atk-label"><small class="fa fa-level-up user-subhead">&nbsp;{$parent_post}</small></div>
          </td>
          <td><small>In_Time : {$in_time}</small>
            <div class="xepan-push-small"></div><small>Out_Time : {$out_time}</small>
          </td>
          <td class="text-left"><a data-type="checklist" data-value="{$existing_permitted_emails}" data-title="Permitted Emails" data-pk="{$id}" class="emails-accesible"></a></td>
          <td class="text-center"><a href="index.php?page=xepan_hr_employee&amp;post_id={$id}"> {$employee_count}</a></td>
          <td>{$action}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>