<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
    {Pannel}
    <header class="main-box-header clearfix atk-actions  {$class} ">
        <div style="100%" class="filter-block">
            <div class="pull-right">{$grid_buttons} </div>
            <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
        </div>
    </header>{/Pannel}
    <div class="main-box-body clearfix table-responsive">
        <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
            <thead class="xepan-hover-hand">{cols}{col}
                <th></th>
                <th id="{$name_sortid}"><span>Post </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$name_sort}</span></th>
                <th id="{$department_id_sortid}"><span>Department </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$department_id_sort}</span></th>
                <th id="{$parent_post_sortid}"><span>Report to </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$parent_post_sort}</span></th>
                <th data-hide="phone"><span>Schedule Time</span></th>
                <th data-hide="phone"><span>E-mail</span></th>
                <th id="{$employee_count_sortid}" data-hide="phone"><span>Employee </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$employee_count_sort}</span></th>
                <th id="" data-hide="all"><span>Permission Level </span></th>
                <th id="" data-hide="all"><span>Salary Template </span></th>
                <th id="" data-hide="all"><span>Leave Template </span></th>
                <th></th>
                <th></th>{/}{/}
            </thead>{/} {$subheader}
            <tbody>{rows}{row}
                <tr data-id="{$id}" class="{$odd_even}">{cols}
                    <td>{$selected}</td>
                    <td>{$name}
                    </td>
                    <td>{$department}</td>
                    <td>{$parent_post}</td>
                    <td>
                        <small>In_Time : {$in_time}</small>
                        <div class="xepan-push-small">                          
                        </div>
                        <small>Out_Time : {$out_time}</small>
                    </td>
                    <td>
                        <a data-type="checklist" data-value="{$existing_permitted_emails}" data-title="Permitted Emails" data-pk="{$id}" style="cursor:pointer; cursor: hand;" class="emails-accesible"></a></td>
                    <td>
                        <a href="#" data-id="{$id}" class="do-view-post-employees"> {$employee_count}</a>
                    </td>
                    <td>{$permission_level}</td>
                    <td>{$salary_template}</td>
                    <td>{$leave_template}</td>
                    <td>{$action}</td>
                    <td style="width: 15%;">
                        {$edit} {$delete}
                    </td>{/}
                </tr>{/}{/} {not_found}
                <div class="row">
                    <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
                </div>{/}
            </tbody>{totals}
            <tfoot>
                <tr class="totals">
                    {cols}{col}
                    <td {$tdparam}>
                        {$content}
                    </td>
                    {/}{/}
                </tr>
            </tfoot>{/}
        </table>{$Paginator}
    </div>
</div>