.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                  a(href='#')
                    span Department
                th
                  a(href='#')
                    span Post
                th.text-left
                  a.desc(href='#')
                    span E-mail
                th.text-center
                  span Status
                th.text-center
                  a.asc(href='#')
                    span Employee
                th
                th
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                        {$department}
                    td
                        {$name}
                        .atk-label
                            small|{$department}\{$name}
                    td.text-left
                      | {email}info@xavoc.com{/email}
                    td.text-center
                      span.label.label-success {status}Active{/}
                    td.text-center
                      a(href='index.php?page=xepan_hr_employee&post_id={$id}')
                        |  {$employee}
                    td
                        | {$action}
                    td(style="width: 15%;")
                        {$edit}
                        {$delete}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
