
<div class="row">
  <div class="col-md-12">
    <div class="main-box">
      <div class="clearfix">
        <div class="infographic-box merged merged-top pull-left"><i class="fa fa-user red-bg"></i><span class="value red">{$late_employees}</span><span class="headline">Late Employees</span></div>
        <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-user green-bg"></i><span class="value red">{$out_employees}</span><span class="headline">Employees Out</span></div>
      </div>
      <div class="clearfix">
        <div class="infographic-box merged pull-left"><i class="fa fa-clock-o yellow-bg"></i><span class="value yellow">{$in_time}</span><span class="headline">Average Intime </span></div>
        <div class="infographic-box merged merged-right pull-left"><i class="fa fa-clock-o red-bg"></i><span class="value red">{$out_time}</span><span class="headline">Average OutTime</span></div>
      </div>
    </div>
  </div>
</div>
<div class="row">		
  <div class="col-md-12">{$grid}</div>
</div>