.row
	.col-md-12
		.main-box
			.clearfix
				.infographic-box.merged.merged-top.pull-left
					i.fa.fa-user.green-bg
					span.value.green {$in_employees}
					span.headline Employees In
				.infographic-box.merged.merged-top.merged-right.pull-left
					i.fa.fa-user.red-bg
					span.value.red {$out_employees}
					span.headline Employees Out	
.row		
	.col-md-12
		{$grid}