
<div class="row">
  <div class="col-md-12">
    <div class="main-box">
      <div class="clearfix">
        <div class="infographic-box merged merged-top pull-left"><i class="fa fa-user green-bg"></i><span class="value green">{$in_employees}</span><span class="headline">Employees In</span></div>
        <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-user red-bg"></i><span class="value red">{$out_employees}</span><span class="headline">Employees Out	</span></div>
      </div>
    </div>
  </div>
</div>
<div class="row">		
  <div class="col-md-12">{$grid}</div>
</div>
<div class="panel">
  <h2>Employee Engagement Report</h2>
  <div class="row">
    <div class="col-md-3">{$engagement_percentage}</div>
    <div class="col-md-9">{$engagement_graph}</div>
  </div>{$Content}
</div>