
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons}</div><a href="{$dept-url}">
        <div class="btn btn-primary pull-right"><i class="fa fa-sitemap">&nbsp; Hierarchy</i></div></a>
      <div href="{$dept-url}" class="btn btn-primary pull-right"><i class="fa fa-bars">&nbsp; List</i></div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th></th>
        <th id="{$name_sortid}"><span>Department </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$name_sort}</span></th>
        <th id="{$production_level_sortid}" data-hide="phone"><span>Production Level </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$production_level_sort}</span></th>
        <th id="{$posts_count_sortid}" data-hide="phone"><span>Posts</span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$posts_count_sort}</span></th>
        <th id="{$employee_count_sortid}" data-hide="phone"><span>Employees </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$employee_count_sort}</span></th>
        <th data-hide="phone"><span>Is Outosurced </span></th>
        <th data-hide="phone"><span>Simultaneous No. Process Allowed </span></th>
        <th> </th>
        <th> </th>{/}{/}
      </thead>{$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{$name}</td>
          <td>{$production_level}</td>
          <td><a href="#" data-id="{$id}" class="do-view-department-post">{$posts_count}</a>
          </td>
          <td><a href="#" data-id="{$id}" class="do-view-department-employee">{$employee_count}</a></td>
          <td>{$is_outsourced}</td>
          <td class="text-center">{$simultaneous_no_process_allowed}</td>
          <td>{action}Action Here{/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
            {/}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>