div.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid
        .column
            {$grid_buttons}
        .column
            .ui.icon.buttons
                .ui.button
                    i.list.icon.do-show-list
                .divider.or
                .ui.green.button
                    i.sitemap.right.aligned.icon.do-show-chart
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.striped.table
        {header}
        thead.xepan-hover-hand
            {cols}{col}
            th(id="{$name_sortid}") Department {$name_sort}
            th(id="{$production_level_sortid}") Production Level {$production_level_sort}
            th(id="{$posts_count_sortid}") Post {$posts_count_sort}
            th(id="{$emp_count_sortid}") Employee {$emp_count_sort}
            th 
            th
            {/}{/}
        {/}
        {$subheader}

        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td {$name}
                td {$production_level}
                td
                  a.do-view-department-post(href='#' data-id="{$id}") {$posts_count}
                td
                  a.do-view-department-employee(href='#' data-id="{$id}") {$employee_count}
                td {$action}
                td {$edit} {$delete}
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
    {$Paginator}
