{$Content}
.col-lg-12
    .col-lg-10
    .col-lg-2
        button.btn.btn-success.push-right(type='submit') Add Document 

ul.widget-users.row
  li.col-md-6
    .details
      .name
        a(href='#') Secondary Marksheet
      .type
        .btn-group(role='group', aria-label='...')
          button.btn.btn-sm.btn-success(type='button') Download
          button.btn.btn-sm.btn-danger(type='button')  
              i.glyphicon.glyphicon-trash
  
  li.col-md-6
    .details
      .name
        a(href='#') Higher Secondary Marksheet
      .type
        .btn-group(role='group', aria-label='...')
          button.btn.btn-sm.btn-success(type='button') Download
          button.btn.btn-sm.btn-danger(type='button')  
              i.glyphicon.glyphicon-trash 
  li.col-md-6
    .details
      .name
        a(href='#') Appointment letter
      .type
        .btn-group(role='group', aria-label='...')
          button.btn.btn-sm.btn-success(type='button') Download
          button.btn.btn-sm.btn-danger(type='button')  
              i.glyphicon.glyphicon-trash
  li.col-md-6
    .details
      .name
        a(href='#') Address Proof
      .type
        .btn-group(role='group', aria-label='...')
          button.btn.btn-sm.btn-success(type='button') Download
          button.btn.btn-sm.btn-danger(type='button')  
              i.glyphicon.glyphicon-trash
