{$Content}
<div class="col-lg-12">
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <button type="submit" class="btn btn-success push-right">Add Document </button>
  </div>
</div>
<ul class="widget-users row">
  <li class="col-md-6">
    <div class="details">
      <div class="name"><a href="#">Secondary Marksheet</a></div>
      <div class="type">
        <div role="group" aria-label="..." class="btn-group">
          <button type="button" class="btn btn-sm btn-success">Download</button>
          <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </div>
    </div>
  </li>
  <li class="col-md-6">
    <div class="details">
      <div class="name"><a href="#">Higher Secondary Marksheet</a></div>
      <div class="type">
        <div role="group" aria-label="..." class="btn-group">
          <button type="button" class="btn btn-sm btn-success">Download</button>
          <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"> </i></button>
        </div>
      </div>
    </div>
  </li>
  <li class="col-md-6">
    <div class="details">
      <div class="name"><a href="#">Appointment letter</a></div>
      <div class="type">
        <div role="group" aria-label="..." class="btn-group">
          <button type="button" class="btn btn-sm btn-success">Download</button>
          <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </div>
    </div>
  </li>
  <li class="col-md-6">
    <div class="details">
      <div class="name"><a href="#">Address Proof</a></div>
      <div class="type">
        <div role="group" aria-label="..." class="btn-group">
          <button type="button" class="btn btn-sm btn-success">Download</button>
          <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </div>
    </div>
  </li>
</ul>