
<div id="portfolio">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <div class="col-lg-12">
          <div class="col-lg-5">{$department}{$department_id}</div>
          <div class="col-lg-5">{$post}{$post_id}</div>
          <div class="col-lg-2">
             
            {$FormButtons}
          </div>
        </div>
        <header class="main-box-header clearfix">
          <h2>Education Qualificaton </h2>
        </header>
        <div class="col-lg-12">{Qualificaton}
          <div class="col-lg-5">
            <label> </label><strong>Qualification:</strong><br/>Master Of Computer Applications
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Qualification Level:</strong><br/>Post Graduation  
          </div>
          <div class="col-lg-3">
            <label> </label><strong>Percentage:</strong><br/> 7.00
          </div>{/Qualificaton}               
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <header class="main-box-header clearfix">
          <h2>Previous Work Experience:</h2>
        </header>
        <div class="col-lg-12"> 
          <div class="col-lg-5">
            <label> </label><strong>Previous Company:</strong><br/> Xyz Corporations
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Branch:</strong><br/> Jaipur
          </div>
          <div class="col-lg-3">
            <label> </label><strong>Designation:</strong><br/> Sr. Manager
          </div>
        </div><span><br/></span>
        <div class="col-lg-12">             
          <div class="col-lg-5">
            <label> </label><strong>Department:</strong><br/> IT
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Salary:</strong><br/> 000001
          </div>
          <div class="col-lg-3">
            <label> </label><strong>Duration:</strong><br/> 7 months{From To Date}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>