#portfolio
  .col-lg-12
    .panel.panel-default
      .panel-body 
        .col-lg-12
          .col-lg-5
            | {$department}{$department_id}
          .col-lg-5
            | {$post}{$post_id}
          .col-lg-2 
            | {$FormButtons}
  .col-lg-12
    .panel.panel-default
      {$Qualification}
      //- .panel-body          
      //-   header.main-box-header.clearfix
      //-       h2 Education Qualificaton 
      //-   .col-lg-12
      //-     .col-lg-5
      //-           label 
      //-           strong Qualification:
      //-           br
      //-           | Master Of Computer Applications

      //-     .col-lg-4
      //-           label 
      //-           strong Qualification Level:
      //-           br
      //-           | Post Graduation  
      //-     .col-lg-3
      //-           label 
      //-           strong Percentage:
      //-           br
      //-           |  7.00
                                     
  .col-lg-12
    .panel.panel-default
      {$Experiences}
      //- .panel-body 
      //-   header.main-box-header.clearfix
      //-     h2 Previous Work Experience:
      //-   .col-lg-12  
      //-     .col-lg-5
      //-           label 
      //-           strong Previous Company:
      //-           br
      //-           |  Xyz Corporations

      //-     .col-lg-4
      //-           label 
      //-           strong Branch:
      //-           br
      //-           |  Jaipur
      //-     .col-lg-3
      //-           label 
      //-           strong Designation:
      //-           br
      //-           |  Sr. Manager
      //-    span
      //-    br              
      //-   .col-lg-12              
      //-     .col-lg-5
      //-           label 
      //-           strong Department:
      //-           br
      //-           |  IT
      //-     .col-lg-4
      //-           label 
      //-           strong Salary:
      //-           br
      //-           |  000001
      //-     .col-lg-3
      //-           label 
      //-           strong Duration:
      //-           br
      //-           |  7 months{From To Date}
