.col-lg-12
  .panel.panel-default
    .panel-body 
      .col-lg-12
        .col-lg-5
          | {$department}{$department_id}
        .col-lg-5
          | {$post}{$post_id}
        .col-lg-2 
          | {$FormButtons}
.col-lg-12
  .panel.panel-default
    {$Qualification}
.col-lg-12
  .panel.panel-default
    {$Experiences}
