
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12">
          <div class="col-lg-4"><strong> Department</strong></div>
          <div class="col-lg-4"><strong> Post</strong></div>
          <div class="col-lg-4 xepan-push"><strong> User</strong></div>
          <div class="col-lg-4">
            <div class="atk-form-row atk-form-field"> {$department}{$department_id}</div>
          </div>
          <div class="col-lg-4">
            <div class="atk-form-row atk-form-field"> {$post}{$post_id}</div>
          </div>
          <div class="col-lg-4">
            <div class="atk-form-row atk-form-field"> {$user}{$user_id}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 pull-right">
         
        {$FormButtons}
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">{$Qualification}</div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">{$Experiences}</div>
</div>