.ui.container.raised.segment.main.box
      .field
        .two.fields
          .field
              label Department
              div {$department}{$department_id}
          .field
              label Post
              div {$post}{$post_id}
      .field
        .two.fields
          .field
            label User 
            div {$user}{$user_id}
          .field
            label Permitted Dashboard 
            div {$graphical_report_id}
      .field
        label Remarks
          {$remark}
| {$FormButtons}
.ui.container.raised.segment.main.box
    {$Qualification}
.ui.container.raised.segment.main.box
    {$Experiences}

