
<div class="ui container raised segment main box">
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>Department</label>
        <div>{$department}{$department_id}</div>
      </div>
      <div class="field">
        <label>Post</label>
        <div>{$post}{$post_id}</div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>User </label>
        <div>{$user}{$user_id}</div>
      </div>
      <div class="field">
        <label>Permitted Dashboard </label>
        <div>{$graphical_report_id}</div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>
      Remarks
      {$remark}
    </label>
  </div>
</div>{$FormButtons}
<div class="ui container raised segment main box">{$Qualification}</div>
<div class="ui container raised segment main box">{$Experiences}</div>