
<header class="main-box-header clearfix">
  <div class="col-lg-12">
    <div class="col-lg-10">
      <h2>Update Email Info</h2>
    </div>
    <div class="col-lg-2">
      <button type="submit" class="btn btn-success push-right">{$grid_buttons}Add Email    </button>
    </div>
  </div>
</header>
<div class="main-box-body clearfix">
  <div class="table-responsive">
    <table class="table">{header}
      <thead>{cols}{col}
        <th id="{$sortid}"><a href="javascript:void(0)">
            {$descr}
            {sort}<span class="{$sorticon}"></span>{/}</a></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$row_id}" class="{$odd_even}">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>{/}{/}
        </tr>{/}{/}
        {$not_found}{$not_found_message}    
      </tbody>
    </table>
  </div>
</div>