.panel-body.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")                
    {Pannel}
    //- .atk-box-small(class="{$pannel_class}") 
    header.main-box-header.clearfix(class=" {$class} ")
        div.filter-block( style="100%")
            {$grid_buttons}  
    {/Pannel}
    .main-box-body.clearfix
        .dummy
            {header}
            .row
                {cols}
                {/}
            {/}
            {$subheader}
            div
                {rows}{row}
                div(class="{$odd_even}" data-id="{$row_id}")
                    {cols}
                    li.col-md-6
                        .details
                            .name
                                a(href='#') {name}Secondary Marksheet{/}
                            .type
                                .btn-group(role='group', aria-label='...')
                                    //- button.btn.btn-sm.btn-success(type='button')|Download
                                    <a class=" btn btn-sm btn-success" href="{$employee_document}" download="{$name}"> Download</a>
                                    //- button.btn.btn-sm.btn-danger(type='button')  
                                    button.btn-danger{$delete}    
                    
                        {/}
                {/}{/}        
                {not_found}
                div
                    div.atk-padding-large.atk-align-center
                        div.atk-label.atk-effect-warning
                            div.icon-attention &nbsp;{$not_found_message}
                {/}

            {totals}
            div
                div(class="totals")
                    {cols}{col}
                    <div {$tdparam}>
                    {$content}
                    </div>
                    {/}{/}
            {/}
        {$Paginator}                