
<div id="{$_name}" class="panel-body xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
                 
  {Pannel}
  <header class="main-box-header clearfix  {$class} ">
    <div style="100%" class="filter-block">{$grid_buttons} </div>
    <h2>Previous Work Experience: </h2>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="dummy">{header}
      <div class="row">
        {cols}
        {/}
      </div>{/}
      {$subheader}
      <div>{rows}{row}
        <tr data-id="{$row_id}" class="{$odd_even}">{cols}
          <div class="col-md-12">
            <div class="col-md-5"><strong>Previous Company:</strong></div>
            <div class="col-md-4"><strong>Branch:</strong></div>
            <div class="col-md-3"></div><strong>Designation:</strong>
          </div>
          <div class="col-md-12">
            <div class="col-md-5">{$name}</div>
            <div class="col-md-4">{$company_branch}</div>
            <div class="col-md-3">{$designation} </div>
          </div>
          <div style="margin-top:5%" class="col-md-12">
            <div class="col-md-5"><strong>Department:</strong></div>
            <div class="col-md-4"><strong>Salary:</strong></div>
            <div class="col-md-3"><strong>Duration:</strong></div>
          </div>
          <div class="col-md-12">
            <div class="col-md-5">{$department}  </div>
            <div class="col-md-4">{$salary}</div>
            <div class="col-md-3">{$duration}    </div>
          </div>
          <div style="margin-bottom:3%" class="col-md-12 text-right">
            <div class="com-md-3"></div>{action}Action Here{/}
            {edit}Edit{/}
            {delete}Delete{/}
            {/}
          </div>
        </tr>{/}{/}        
        {not_found}
        <div>
          <div class="atk-padding-large atk-align-center">
            <div class="atk-label atk-effect-warning">
              <div class="icon-attention">&nbsp;{$not_found_message}</div>
            </div>
          </div>
        </div>{/}
      </div>{totals}
      <div>
        <div class="totals">
          {cols}{col}
          <div {$tdparam}>
          {$content}
          </div>
          {/}{/}
        </div>
      </div>{/}
    </div>{$Paginator}                
  </div>
</div>