
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
                 
  {Pannel}
  <header class="main-box-header clearfix  {$class} ">
    <div style="100%" class="filter-block">
      <div class="btnn btn-primaryy pull-right">{$grid_buttons} 
      </div>
    </div>
    <h2>Education Qualificaton:</h2>
  </header>{/Pannel}
  <div class="main-box-body clearfix">
    <div class="dummy">{header}
      <div class="row">{cols}
        <div class="col-md-5"><strong>Qualification:</strong></div>
        <div class="col-md-4"><strong>Qualification Level:</strong></div>
        <div class="col-md-3"><strong>Percentage:</strong></div>{/}
      </div>{/}
      {$subheader}
      <div>{rows}{row}
        <div data-id="{$id}" class="{$odd_even}">{cols}
          <div class="col-md-5">{name} Institute name here {/name}</div>
          <div class="col-md-4">
            {qualificaton_level}
              Graduation/Post Graduation
            {/qualificaton_level}  
          </div>
          <div class="col-md-3">{percentage}|  7.00{/percentage}</div>
        </div>
        <div class="row">
          <div class="col-md-3 pull-right">
            {action}Action Here{/}
            {$edit}
            {$delete}
          </div>{/}
        </div>{/}{/}
        {not_found}
        <div>
          <div class="atk-padding-large atk-align-center">
            <div class="atk-label atk-effect-warning">
              <div class="icon-attention">&nbsp;{$not_found_message}</div>
            </div>
          </div>
        </div>{/}
      </div>{totals}
      <div>
        <div class="totals">
          {cols}{col}
          <div {$tdparam}>
          {$content}
          </div>
          {/}{/}
        </div>
      </div>{/}
    </div>{$Paginator}                
  </div>
</div>