.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")                
    {Pannel}
    //- .atk-box-small(class="{$pannel_class}") 
    header.main-box-header.clearfix(class=" {$class} ")
        div.filter-block( style="100%")
            .btnn.btn-primaryy.pull-right{$grid_buttons} 
                //- i(class="fa fa-plus-circle fa-lg")
            .form-group.xepan-grid-action-search
                    span(class="form-control")|{$quick_search}
                        i(class="fa fa-search search-icon")
        h2 Education Qualificaton:
    {/Pannel}
    .main-box-body.clearfix
        .dummy
            {header}
            .row
                {cols}
                .col-md-5
                    strong Qualification:
                .col-md-4
                    strong Qualification Level:
                .col-md-3
                    strong Percentage:
                {/}
            {/}
            {$subheader}
            .row
                {rows}{row}
                div(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    .col-md-5 {name} Institute name here {/name}
                    .col-md-4
                        {qualificaton_level}
                        |   Graduation/Post Graduation
                        {/qualificaton_level}  
                    .col-md-3 {percentage}|  7.00{/percentage}
                   .row
                    .col-md-3.pull-right
                        | {action}Action Here{/}
                        {$edit}
                        {$delete}
                    {/}
                {/}{/}
                {not_found}
                div
                    div.atk-padding-large.atk-align-center
                        div.atk-label.atk-effect-warning
                            div.icon-attention &nbsp;{$not_found_message}
                {/}

            {totals}
            div
                div(class="totals")
                    {cols}{col}
                    <div {$tdparam}>
                    {$content}
                    </div>
                    {/}{/}
            {/}
        {$Paginator}                